grafi/graf1.eps
grafi/graf1-eps-converted-to.pdf
grafi/graf1.tex
grafi/graf2.eps
grafi/graf2-eps-converted-to.pdf
grafi/graf2.tex
grafi/graf3.eps
grafi/graf3-eps-converted-to.pdf
grafi/graf3.tex
grafi/print.aux
grafi/print.log
build
