**/__pycache__
.vscode
TO_DO.md
.*venv*
**/*.xmpi
**/*.aux
**/*eps-converted-to.pdf
**/*.bbl
**/*.blg
**/*.fdb_latexmk
**/*.fls
**/*.idx
**/*.ilg
**/*.ind
**/*.log
**/*.out
**/*.gz
**/*.xmpdata
**/*checkpoint*
**/*.html
figures/gifs/*